<table><tr><td>Aluminium:Aluminium Ore:1 </td><td>0</td><td>0.15</td><td>9</td><td>63</td></tr>
<tr><td>Aluminium:Aluminium Ore:1 </td><td>2</td><td>0.17</td><td>34</td><td>194</td></tr>
<tr><td>Yellow Limonite:Yellow Limonite:0.35 Malachite:Malachite Ore:0.05 Brown Limonite:Brown Limonite:0.45 Banded Iron:Banded Iron Ore:0.15 </td><td>1</td><td>9.12</td><td>800</td><td>87</td></tr>
<tr><td>Yellow Limonite:Yellow Limonite:0.35 Malachite:Malachite Ore:0.05 Brown Limonite:Brown Limonite:0.45 Banded Iron:Banded Iron Ore:0.15 </td><td>3</td><td>3.45</td><td>600</td><td>173</td></tr>
<tr><td>Yellow Limonite:Yellow Limonite:0.35 Malachite:Malachite Ore:0.05 Brown Limonite:Brown Limonite:0.45 Banded Iron:Banded Iron Ore:0.15 </td><td>4</td><td>9.47</td><td>3360</td><td>354</td></tr>
<tr><td>Banded Iron:Banded Iron Ore:1 </td><td>5</td><td>2.13</td><td>1750</td><td>820</td></tr>
<tr><td>Banded Iron:Banded Iron Ore:1 </td><td>6</td><td>0.41</td><td>875</td><td>2128</td></tr>
<tr><td>Banded Iron:Banded Iron Ore:1 </td><td>2</td><td>0.13</td><td>79</td><td>575</td></tr>
<tr><td>Banded Iron:Banded Iron Ore:1 </td><td>6</td><td>1.21</td><td>875</td><td>722</td></tr>
<tr><td>Banded Iron:Banded Iron Ore:1 </td><td>0</td><td>0.19</td><td>9</td><td>48</td></tr>
<tr><td>Banded Iron:Banded Iron Ore:1 </td><td>2</td><td>0.21</td><td>34</td><td>155</td></tr>
<tr><td>Banded Iron:Banded Iron Ore:1 </td><td>0</td><td>0.06</td><td>3</td><td>48</td></tr>
<tr><td>Banded Iron:Banded Iron Ore:1 </td><td>2</td><td>0.07</td><td>11</td><td>154</td></tr>
<tr><td>Banded Iron:Banded Iron Ore:1 </td><td>2</td><td>0.04</td><td>21</td><td>435</td></tr>
<tr><td>Bauxite:Bauxite:1 </td><td>0</td><td>0.85</td><td>54</td><td>63</td></tr>
<tr><td>Aluminium:Aluminium Ore:0.15 Bauxite:Bauxite:0.85 </td><td>1</td><td>7.32</td><td>800</td><td>109</td></tr>
<tr><td>Bauxite:Bauxite:1 </td><td>2</td><td>0.99</td><td>193</td><td>194</td></tr>
<tr><td>Aluminium:Aluminium Ore:0.15 Bauxite:Bauxite:0.85 </td><td>3</td><td>2.77</td><td>600</td><td>215</td></tr>
<tr><td>Aluminium:Aluminium Ore:0.15 Bauxite:Bauxite:0.85 </td><td>4</td><td>7.57</td><td>3360</td><td>443</td></tr>
<tr><td>Magnesite:Magnesite Ore (Magnesium):0.05 Olivine:Olivine Ore:0.15 Glauconite:Glauconite Ore:0.35 Bentonite:Bentonite:0.45 </td><td>3</td><td>0.3</td><td>128</td><td>403</td></tr>
<tr><td>Magnesite:Magnesite Ore (Magnesium):0.05 Olivine:Olivine Ore:0.15 Glauconite:Glauconite Ore:0.35 Bentonite:Bentonite:0.45 </td><td>4</td><td>0.78</td><td>874</td><td>862</td></tr>
<tr><td>Beryllium:Beryllium Ore:1 </td><td>5</td><td>0.49</td><td>1304</td><td>2171</td></tr>
<tr><td>Beryllium:Beryllium Ore:1 </td><td>6</td><td>0.11</td><td>480</td><td>4157</td></tr>
<tr><td>Brown Limonite:Brown Limonite:1 </td><td>0</td><td>0.58</td><td>28</td><td>48</td></tr>
<tr><td>Brown Limonite:Brown Limonite:1 </td><td>2</td><td>0.65</td><td>102</td><td>155</td></tr>
<tr><td>Calcite:Calcite Ore:1 </td><td>5</td><td>0.24</td><td>250</td><td>1016</td></tr>
<tr><td>Calcite:Calcite Ore:1 </td><td>6</td><td>0.04</td><td>125</td><td>2582</td></tr>
<tr><td>Tin:Tin Ore:0.2 Cassiterite:Cassiterite Ore (Tin):0.8 </td><td>1</td><td>3.62</td><td>800</td><td>220</td></tr>
<tr><td>Tin:Tin Ore:0.2 Cassiterite:Cassiterite Ore (Tin):0.8 </td><td>3</td><td>1.38</td><td>600</td><td>433</td></tr>
<tr><td>Tin:Tin Ore:0.2 Cassiterite:Cassiterite Ore (Tin):0.8 </td><td>4</td><td>3.72</td><td>3360</td><td>901</td></tr>
<tr><td>Tin:Tin Ore:0.15 Cassiterite:Cassiterite Ore (Tin):0.85 </td><td>1</td><td>6.12</td><td>800</td><td>130</td></tr>
<tr><td>Tin:Tin Ore:0.15 Cassiterite:Cassiterite Ore (Tin):0.85 </td><td>3</td><td>2.33</td><td>600</td><td>257</td></tr>
<tr><td>Tin:Tin Ore:0.15 Cassiterite:Cassiterite Ore (Tin):0.85 </td><td>4</td><td>6.31</td><td>3360</td><td>532</td></tr>
<tr><td>Cassiterite:Cassiterite Ore (Tin):1 </td><td>0</td><td>0.37</td><td>51</td><td>137</td></tr>
<tr><td>Cassiterite:Cassiterite Ore (Tin):1 </td><td>2</td><td>0.46</td><td>182</td><td>396</td></tr>
<tr><td>Cassiterite:Cassiterite Ore (Tin):1 </td><td>6</td><td>4.09</td><td>2000</td><td>488</td></tr>
<tr><td>Cassiterite:Cassiterite Ore (Tin):1 </td><td>0</td><td>0.68</td><td>54</td><td>79</td></tr>
<tr><td>Cassiterite:Cassiterite Ore (Tin):1 </td><td>2</td><td>0.82</td><td>193</td><td>233</td></tr>
<tr><td>Certus Quartz:Certus Quartz Ore:1 </td><td>5</td><td>0.71</td><td>1000</td><td>1391</td></tr>
<tr><td>Certus Quartz:Certus Quartz Ore:1 </td><td>6</td><td>0.14</td><td>500</td><td>3393</td></tr>
<tr><td>Certus Quartz:Certus Quartz Ore:1 </td><td>5</td><td>0.57</td><td>750</td><td>1299</td></tr>
<tr><td>Certus Quartz:Certus Quartz Ore:1 </td><td>6</td><td>0.11</td><td>375</td><td>3195</td></tr>
<tr><td>Banded Iron:Banded Iron Ore:0.35 Pyrite:Pyrite (Iron):0.15 Chalcopyrite:Chalcopyrite Ore (Copper):0.5 </td><td>4</td><td>0.89</td><td>1706</td><td>1132</td></tr>
<tr><td>Copper:Copper Ore:0.15 Banded Iron:Banded Iron Ore:0.35 Chalcopyrite:Chalcopyrite Ore (Copper):0.5 </td><td>1</td><td>2.53</td><td>800</td><td>316</td></tr>
<tr><td>Copper:Copper Ore:0.15 Banded Iron:Banded Iron Ore:0.35 Chalcopyrite:Chalcopyrite Ore (Copper):0.5 </td><td>3</td><td>0.97</td><td>600</td><td>616</td></tr>
<tr><td>Copper:Copper Ore:0.15 Banded Iron:Banded Iron Ore:0.35 Chalcopyrite:Chalcopyrite Ore (Copper):0.5 </td><td>4</td><td>2.57</td><td>3360</td><td>1305</td></tr>
<tr><td>Banded Iron:Banded Iron Ore:0.35 Pyrite:Pyrite (Iron):0.15 Chalcopyrite:Chalcopyrite Ore (Copper):0.5 </td><td>3</td><td>0.34</td><td>171</td><td>422</td></tr>
<tr><td>Chalcopyrite:Chalcopyrite Ore (Copper):1 </td><td>5</td><td>3.04</td><td>2500</td><td>820</td></tr>
<tr><td>Chalcopyrite:Chalcopyrite Ore (Copper):1 </td><td>6</td><td>0.58</td><td>1250</td><td>2128</td></tr>
<tr><td>Chalcopyrite:Chalcopyrite Ore (Copper):1 </td><td>2</td><td>0.19</td><td>114</td><td>575</td></tr>
<tr><td>Chalcopyrite:Chalcopyrite Ore (Copper):1 </td><td>6</td><td>1.72</td><td>1250</td><td>722</td></tr>
<tr><td>Chalcopyrite:Chalcopyrite Ore (Copper):1 </td><td>2</td><td>0.06</td><td>30</td><td>435</td></tr>
<tr><td>Cobaltite:Cobaltite Ore:1 </td><td>5</td><td>1.41</td><td>1842</td><td>1299</td></tr>
<tr><td>Cobaltite:Cobaltite Ore:1 </td><td>6</td><td>0.28</td><td>921</td><td>3195</td></tr>
<tr><td>Tetrahedrite:Tetrahedrite Ore:0.8 Stibnite:Stibnite Ore (Antimony):0.15 Copper:Copper Ore:0.05 </td><td>1</td><td>12.12</td><td>800</td><td>65</td></tr>
<tr><td>Tetrahedrite:Tetrahedrite Ore:0.8 Stibnite:Stibnite Ore (Antimony):0.15 Copper:Copper Ore:0.05 </td><td>3</td><td>4.57</td><td>600</td><td>131</td></tr>
<tr><td>Tetrahedrite:Tetrahedrite Ore:0.8 Stibnite:Stibnite Ore (Antimony):0.15 Copper:Copper Ore:0.05 </td><td>4</td><td>12.64</td><td>3360</td><td>265</td></tr>
<tr><td>Copper:Copper Ore:1 </td><td>2</td><td>0.05</td><td>34</td><td>575</td></tr>
<tr><td>Copper:Copper Ore:1 </td><td>6</td><td>0.51</td><td>375</td><td>722</td></tr>
<tr><td>Copper:Copper Ore:1 </td><td>0</td><td>0.09</td><td>3</td><td>35</td></tr>
<tr><td>Copper:Copper Ore:1 </td><td>2</td><td>0.09</td><td>11</td><td>116</td></tr>
<tr><td>Diamond:Diamond Ore:1 </td><td>5</td><td>0.37</td><td>750</td><td>2002</td></tr>
<tr><td>Diamond:Diamond Ore:1 </td><td>6</td><td>0.08</td><td>350</td><td>3991</td></tr>
<tr><td>Thorium:Thorium Ore:0.05 Beryllium:Beryllium Ore:0.8 Emerald:Emerald Ore:0.15 </td><td>4</td><td>0.12</td><td>600</td><td>4729</td></tr>
<tr><td>Thorium:Thorium Ore:0.05 Beryllium:Beryllium Ore:0.8 Emerald:Emerald Ore:0.15 </td><td>7</td><td>1.81</td><td>6000</td><td>3312</td></tr>
<tr><td>Emerald:Emerald Ore:1 </td><td>5</td><td>0.09</td><td>244</td><td>2171</td></tr>
<tr><td>Emerald:Emerald Ore:1 </td><td>6</td><td>0.02</td><td>90</td><td>4157</td></tr>
<tr><td>Galena:Galena Ore (Lead):1 </td><td>5</td><td>3.93</td><td>4000</td><td>1016</td></tr>
<tr><td>Galena:Galena Ore (Lead):1 </td><td>6</td><td>0.77</td><td>2000</td><td>2582</td></tr>
<tr><td>Garnierite:Garnierite Ore (Nickel):1 </td><td>5</td><td>1.82</td><td>2368</td><td>1299</td></tr>
<tr><td>Garnierite:Garnierite Ore (Nickel):1 </td><td>6</td><td>0.37</td><td>1184</td><td>3195</td></tr>
<tr><td>Glauconite:Glauconite Ore:1 </td><td>5</td><td>0.11</td><td>250</td><td>2242</td></tr>
<tr><td>Glauconite:Glauconite Ore:1 </td><td>6</td><td>0.02</td><td>95</td><td>3075</td></tr>
<tr><td>Glauconite:Glauconite Ore:1 </td><td>5</td><td>1.81</td><td>1750</td><td>965</td></tr>
<tr><td>Glauconite:Glauconite Ore:1 </td><td>6</td><td>0.35</td><td>875</td><td>2464</td></tr>
<tr><td>Glauconite:Glauconite Ore:1 </td><td>5</td><td>0.47</td><td>750</td><td>1577</td></tr>
<tr><td>Glauconite:Glauconite Ore:1 </td><td>6</td><td>0.09</td><td>375</td><td>3787</td></tr>
<tr><td>Magnetite:Magnetite Ore (Iron):0.8 Gold:Gold Ore:0.2 </td><td>4</td><td>2.47</td><td>3360</td><td>1359</td></tr>
<tr><td>Magnetite:Magnetite Ore (Iron):0.85 Gold:Gold Ore:0.15 </td><td>1</td><td>7.9</td><td>800</td><td>101</td></tr>
<tr><td>Magnetite:Magnetite Ore (Iron):0.85 Gold:Gold Ore:0.15 </td><td>3</td><td>2.99</td><td>600</td><td>200</td></tr>
<tr><td>Magnetite:Magnetite Ore (Iron):0.85 Gold:Gold Ore:0.15 </td><td>4</td><td>8.18</td><td>3360</td><td>410</td></tr>
<tr><td>Magnetite:Magnetite Ore (Iron):0.8 Gold:Gold Ore:0.2 </td><td>1</td><td>2.43</td><td>800</td><td>328</td></tr>
<tr><td>Magnetite:Magnetite Ore (Iron):0.8 Gold:Gold Ore:0.2 </td><td>3</td><td>0.93</td><td>600</td><td>640</td></tr>
<tr><td>Gold:Gold Ore:1 </td><td>6</td><td>0.66</td><td>500</td><td>754</td></tr>
<tr><td>Gold:Gold Ore:1 </td><td>0</td><td>0.16</td><td>9</td><td>57</td></tr>
<tr><td>Gold:Gold Ore:1 </td><td>2</td><td>0.18</td><td>34</td><td>180</td></tr>
<tr><td>Gold:Gold Ore:1 </td><td>2</td><td>0.07</td><td>45</td><td>599</td></tr>
<tr><td>Coal:Coal Ore:0.05 Diamond:Diamond Ore:0.15 Graphite:Graphite:0.8 </td><td>4</td><td>0.44</td><td>600</td><td>1342</td></tr>
<tr><td>Graphite:Graphite:1 </td><td>5</td><td>1.99</td><td>4000</td><td>2002</td></tr>
<tr><td>Graphite:Graphite:1 </td><td>6</td><td>0.42</td><td>1870</td><td>3991</td></tr>
<tr><td>Green Sapphire:Green Sapphire Ore:1 </td><td>2</td><td>0.0</td><td>3</td><td>452</td></tr>
<tr><td>Green Sapphire:Green Sapphire Ore:1 </td><td>5</td><td>0.29</td><td>250</td><td>856</td></tr>
<tr><td>Green Sapphire:Green Sapphire Ore:1 </td><td>6</td><td>0.05</td><td>125</td><td>2214</td></tr>
<tr><td>Spessartine:Spessartine Ore:0.35 Tantalite:Tantalite Ore (Tantalum):0.15 Pyrolusite:Pyrolusite Ore (Manganese):0.05 Grossular:Grossular Ore:0.45 </td><td>4</td><td>0.12</td><td>600</td><td>4729</td></tr>
<tr><td>Spessartine:Spessartine Ore:0.35 Tantalite:Tantalite Ore (Tantalum):0.15 Pyrolusite:Pyrolusite Ore (Manganese):0.05 Grossular:Grossular Ore:0.45 </td><td>7</td><td>1.81</td><td>6000</td><td>3312</td></tr>
<tr><td>Lapis:Lapis Lazuli Ore:1 </td><td>5</td><td>0.73</td><td>750</td><td>1016</td></tr>
<tr><td>Lapis:Lapis Lazuli Ore:1 </td><td>6</td><td>0.14</td><td>375</td><td>2582</td></tr>
<tr><td>Lazurite:Lazurite Ore:1 </td><td>5</td><td>2.21</td><td>2250</td><td>1016</td></tr>
<tr><td>Lazurite:Lazurite Ore:1 </td><td>6</td><td>0.43</td><td>1125</td><td>2582</td></tr>
<tr><td>Galena:Galena Ore (Lead):0.8 Silver:Silver Ore:0.15 Lead:Lead Ore:0.05 </td><td>3</td><td>0.29</td><td>120</td><td>404</td></tr>
<tr><td>Galena:Galena Ore (Lead):0.8 Silver:Silver Ore:0.15 Lead:Lead Ore:0.05 </td><td>4</td><td>0.75</td><td>629</td><td>806</td></tr>
<tr><td>Lead:Lead Ore:1 </td><td>5</td><td>0.24</td><td>250</td><td>1016</td></tr>
<tr><td>Lead:Lead Ore:1 </td><td>6</td><td>0.04</td><td>125</td><td>2582</td></tr>
<tr><td>Rock Salt:Rock Salt:0.45 Spodumene:Spodumene Ore (Lithium):0.05 Salt:Salt Ore:0.35 Lepidolite:Lepidolite Ore (Lithium):0.15 </td><td>3</td><td>0.32</td><td>151</td><td>413</td></tr>
<tr><td>Rock Salt:Rock Salt:0.45 Spodumene:Spodumene Ore (Lithium):0.05 Salt:Salt Ore:0.35 Lepidolite:Lepidolite Ore (Lithium):0.15 </td><td>4</td><td>0.84</td><td>1333</td><td>993</td></tr>
<tr><td>Rock Salt:Rock Salt:0.15 Spodumene:Spodumene Ore (Lithium):0.35 Salt:Salt Ore:0.05 Lepidolite:Lepidolite Ore (Lithium):0.45 </td><td>4</td><td>0.13</td><td>600</td><td>4594</td></tr>
<tr><td>Rock Salt:Rock Salt:0.15 Spodumene:Spodumene Ore (Lithium):0.35 Salt:Salt Ore:0.05 Lepidolite:Lepidolite Ore (Lithium):0.45 </td><td>7</td><td>1.89</td><td>6000</td><td>3170</td></tr>
<tr><td>Lepidolite:Lepidolite Ore (Lithium):1 </td><td>2</td><td>0.01</td><td>9</td><td>461</td></tr>
<tr><td>Lepidolite:Lepidolite Ore (Lithium):1 </td><td>5</td><td>0.85</td><td>750</td><td>878</td></tr>
<tr><td>Lepidolite:Lepidolite Ore (Lithium):1 </td><td>6</td><td>0.16</td><td>375</td><td>2265</td></tr>
<tr><td>Lepidolite:Lepidolite Ore (Lithium):1 </td><td>5</td><td>0.28</td><td>795</td><td>2211</td></tr>
<tr><td>Lepidolite:Lepidolite Ore (Lithium):1 </td><td>6</td><td>0.06</td><td>270</td><td>4021</td></tr>
<tr><td>Coal:Coal Ore:0.95 Lignite Coal:Lignite Coal:0.05 </td><td>1</td><td>17.39</td><td>800</td><td>45</td></tr>
<tr><td>Coal:Coal Ore:0.95 Lignite Coal:Lignite Coal:0.05 </td><td>3</td><td>6.53</td><td>600</td><td>91</td></tr>
<tr><td>Coal:Coal Ore:0.95 Lignite Coal:Lignite Coal:0.05 </td><td>4</td><td>18.2</td><td>3360</td><td>184</td></tr>
<tr><td>Coal:Coal Ore:0.5 Silver:Silver Ore:0.45 Lignite Coal:Lignite Coal:0.05 </td><td>1</td><td>24.75</td><td>800</td><td>32</td></tr>
<tr><td>Coal:Coal Ore:0.5 Silver:Silver Ore:0.45 Lignite Coal:Lignite Coal:0.05 </td><td>3</td><td>9.28</td><td>600</td><td>64</td></tr>
<tr><td>Coal:Coal Ore:0.5 Silver:Silver Ore:0.45 Lignite Coal:Lignite Coal:0.05 </td><td>4</td><td>25.98</td><td>3360</td><td>129</td></tr>
<tr><td>Magnesite:Magnesite Ore (Magnesium):1 </td><td>5</td><td>0.25</td><td>250</td><td>965</td></tr>
<tr><td>Magnesite:Magnesite Ore (Magnesium):1 </td><td>6</td><td>0.05</td><td>125</td><td>2464</td></tr>
<tr><td>Magnetite:Magnetite Ore (Iron):1 </td><td>6</td><td>2.65</td><td>2000</td><td>754</td></tr>
<tr><td>Magnetite:Magnetite Ore (Iron):1 </td><td>0</td><td>0.93</td><td>54</td><td>57</td></tr>
<tr><td>Magnetite:Magnetite Ore (Iron):1 </td><td>2</td><td>1.07</td><td>193</td><td>180</td></tr>
<tr><td>Magnetite:Magnetite Ore (Iron):1 </td><td>0</td><td>1.05</td><td>51</td><td>48</td></tr>
<tr><td>Magnetite:Magnetite Ore (Iron):1 </td><td>2</td><td>1.18</td><td>182</td><td>154</td></tr>
<tr><td>Magnetite:Magnetite Ore (Iron):1 </td><td>2</td><td>0.3</td><td>182</td><td>599</td></tr>
<tr><td>Malachite:Malachite Ore:1 </td><td>0</td><td>0.06</td><td>3</td><td>48</td></tr>
<tr><td>Malachite:Malachite Ore:1 </td><td>2</td><td>0.07</td><td>11</td><td>155</td></tr>
<tr><td>Oilsands:Oil Sand:1.0 </td><td>1</td><td>20.84</td><td>800</td><td>38</td></tr>
<tr><td>Oilsands:Oil Sand:1.0 </td><td>3</td><td>7.82</td><td>600</td><td>76</td></tr>
<tr><td>Oilsands:Oil Sand:1.0 </td><td>4</td><td>21.85</td><td>3360</td><td>153</td></tr>
<tr><td>Oilsands:Oil Sand:1 </td><td>0</td><td>3.28</td><td>64</td><td>19</td></tr>
<tr><td>Oilsands:Oil Sand:1 </td><td>2</td><td>3.38</td><td>228</td><td>67</td></tr>
<tr><td>Platinum:Platinum Ore:0.6 Palladium:Palladium Ore:0.4 </td><td>7</td><td>0.94</td><td>5014</td><td>4710</td></tr>
<tr><td>Palladium:Palladium Ore:1 </td><td>5</td><td>0.13</td><td>399</td><td>2890</td></tr>
<tr><td>Palladium:Palladium Ore:1 </td><td>6</td><td>0.03</td><td>239</td><td>6578</td></tr>
<tr><td>Cobaltite:Cobaltite Ore:0.368421052632 Garnierite:Garnierite Ore (Nickel):0.473684210526 Pentlandite:Pentlandite Ore (Nickel):0.157894736842 </td><td>4</td><td>0.62</td><td>600</td><td>959</td></tr>
<tr><td>Soapstone:Soapstone (Talc):0.45 Glauconite:Glauconite Ore:0.05 Talc:Talc:0.35 Pentlandite:Pentlandite Ore (Nickel):0.15 </td><td>4</td><td>0.4</td><td>600</td><td>1463</td></tr>
<tr><td>Soapstone:Soapstone (Talc):0.45 Glauconite:Glauconite Ore:0.15 Talc:Talc:0.05 Pentlandite:Pentlandite Ore (Nickel):0.35 </td><td>4</td><td>0.53</td><td>600</td><td>1117</td></tr>
<tr><td>Pentlandite:Pentlandite Ore (Nickel):1 </td><td>5</td><td>0.6</td><td>789</td><td>1299</td></tr>
<tr><td>Pentlandite:Pentlandite Ore (Nickel):1 </td><td>5</td><td>0.33</td><td>750</td><td>2242</td></tr>
<tr><td>Pentlandite:Pentlandite Ore (Nickel):1 </td><td>6</td><td>0.07</td><td>287</td><td>3075</td></tr>
<tr><td>Pentlandite:Pentlandite Ore (Nickel):1 </td><td>6</td><td>0.12</td><td>394</td><td>3195</td></tr>
<tr><td>Pentlandite:Pentlandite Ore (Nickel):1 </td><td>5</td><td>1.1</td><td>1750</td><td>1577</td></tr>
<tr><td>Pentlandite:Pentlandite Ore (Nickel):1 </td><td>6</td><td>0.23</td><td>875</td><td>3787</td></tr>
<tr><td>Phosphate:Phosphate Ore:1 </td><td>5</td><td>0.47</td><td>750</td><td>1577</td></tr>
<tr><td>Phosphate:Phosphate Ore:1 </td><td>6</td><td>0.09</td><td>375</td><td>3787</td></tr>
<tr><td>Phosphate:Phosphate Ore:1 </td><td>5</td><td>0.15</td><td>250</td><td>1647</td></tr>
<tr><td>Phosphate:Phosphate Ore:1 </td><td>6</td><td>0.03</td><td>125</td><td>3934</td></tr>
<tr><td>Phosphate:Phosphate Ore:0.15 Apatite:Apatite:0.8 Phosphorus:Phosphorus Ore:0.05 </td><td>4</td><td>0.53</td><td>600</td><td>1117</td></tr>
<tr><td>Phosphate:Phosphate Ore:0.05 Apatite:Apatite:0.8 Phosphorus:Phosphorus Ore:0.15 </td><td>4</td><td>0.51</td><td>600</td><td>1155</td></tr>
<tr><td>Uraninite:Uraninite Ore:0.8 Pitchblende:Pitchblende (Uranium):0.2 </td><td>4</td><td>0.4</td><td>600</td><td>1463</td></tr>
<tr><td>Uraninite:Uraninite Ore:0.8 Uranium 238:Uranium 238 Ore:0.15 Pitchblende:Pitchblende (Uranium):0.05 </td><td>7</td><td>0.94</td><td>5014</td><td>4710</td></tr>
<tr><td>Pitchblende:Pitchblende (Uranium):1 </td><td>5</td><td>0.44</td><td>1000</td><td>2242</td></tr>
<tr><td>Pitchblende:Pitchblende (Uranium):1 </td><td>6</td><td>0.09</td><td>382</td><td>3075</td></tr>
<tr><td>Pitchblende:Pitchblende (Uranium):1 </td><td>5</td><td>0.01</td><td>50</td><td>2890</td></tr>
<tr><td>Pitchblende:Pitchblende (Uranium):1 </td><td>6</td><td>0.0</td><td>30</td><td>6578</td></tr>
<tr><td>Platinum:Platinum Ore:1 </td><td>5</td><td>0.2</td><td>600</td><td>2890</td></tr>
<tr><td>Platinum:Platinum Ore:1 </td><td>6</td><td>0.05</td><td>360</td><td>6578</td></tr>
<tr><td>Pyrite:Pyrite (Iron):1 </td><td>5</td><td>0.91</td><td>750</td><td>820</td></tr>
<tr><td>Pyrite:Pyrite (Iron):1 </td><td>6</td><td>0.17</td><td>375</td><td>2128</td></tr>
<tr><td>Pyrite:Pyrite (Iron):1 </td><td>0</td><td>0.17</td><td>9</td><td>54</td></tr>
<tr><td>Pyrite:Pyrite (Iron):1 </td><td>2</td><td>0.2</td><td>34</td><td>169</td></tr>
<tr><td>Pyrite:Pyrite (Iron):1 </td><td>2</td><td>0.02</td><td>9</td><td>435</td></tr>
<tr><td>Pyrolusite:Pyrolusite Ore (Manganese):1 </td><td>5</td><td>0.03</td><td>81</td><td>2171</td></tr>
<tr><td>Pyrolusite:Pyrolusite Ore (Manganese):1 </td><td>6</td><td>0.0</td><td>30</td><td>4157</td></tr>
<tr><td>Green Sapphire:Green Sapphire Ore:0.05 Sapphire:Sapphire Ore:0.15 Almandine:Almandine Ore:0.45 Pyrope:Pyrope Ore:0.35 </td><td>3</td><td>0.33</td><td>158</td><td>416</td></tr>
<tr><td>Green Sapphire:Green Sapphire Ore:0.05 Sapphire:Sapphire Ore:0.15 Almandine:Almandine Ore:0.45 Pyrope:Pyrope Ore:0.35 </td><td>4</td><td>0.86</td><td>1467</td><td>1039</td></tr>
<tr><td>Pyrope:Pyrope Ore:1 </td><td>2</td><td>0.04</td><td>21</td><td>452</td></tr>
<tr><td>Pyrope:Pyrope Ore:1 </td><td>5</td><td>2.04</td><td>1750</td><td>856</td></tr>
<tr><td>Pyrope:Pyrope Ore:1 </td><td>6</td><td>0.39</td><td>875</td><td>2214</td></tr>
<tr><td>Certus Quartz:Certus Quartz Ore:0.2 Barite:Barite Ore (Barium):0.35 Quartzite:Quartz Ore:0.45 </td><td>4</td><td>0.59</td><td>600</td><td>1012</td></tr>
<tr><td>Certus Quartz:Certus Quartz Ore:0.15 Barite:Barite Ore (Barium):0.05 Quartzite:Quartz Ore:0.8 </td><td>4</td><td>0.62</td><td>600</td><td>959</td></tr>
<tr><td>Quartzite:Quartz Ore:1 </td><td>5</td><td>1.61</td><td>2250</td><td>1391</td></tr>
<tr><td>Quartzite:Quartz Ore:1 </td><td>6</td><td>0.33</td><td>1125</td><td>3393</td></tr>
<tr><td>Quartzite:Quartz Ore:1 </td><td>5</td><td>3.07</td><td>4000</td><td>1299</td></tr>
<tr><td>Quartzite:Quartz Ore:1 </td><td>6</td><td>0.62</td><td>2000</td><td>3195</td></tr>
<tr><td>Rock Salt:Rock Salt:1 </td><td>2</td><td>0.05</td><td>27</td><td>461</td></tr>
<tr><td>Rock Salt:Rock Salt:1 </td><td>5</td><td>2.56</td><td>2250</td><td>878</td></tr>
<tr><td>Rock Salt:Rock Salt:1 </td><td>6</td><td>0.49</td><td>1125</td><td>2265</td></tr>
<tr><td>Rock Salt:Rock Salt:1 </td><td>5</td><td>0.09</td><td>265</td><td>2211</td></tr>
<tr><td>Rock Salt:Rock Salt:1 </td><td>6</td><td>0.02</td><td>90</td><td>4021</td></tr>
<tr><td>Salt:Salt Ore:1 </td><td>2</td><td>0.04</td><td>21</td><td>461</td></tr>
<tr><td>Salt:Salt Ore:1 </td><td>5</td><td>1.99</td><td>1750</td><td>878</td></tr>
<tr><td>Salt:Salt Ore:1 </td><td>6</td><td>0.38</td><td>875</td><td>2265</td></tr>
<tr><td>Salt:Salt Ore:1 </td><td>5</td><td>0.03</td><td>88</td><td>2211</td></tr>
<tr><td>Salt:Salt Ore:1 </td><td>6</td><td>0.0</td><td>30</td><td>4021</td></tr>
<tr><td>Sapphire:Sapphire Ore:1 </td><td>2</td><td>0.01</td><td>9</td><td>452</td></tr>
<tr><td>Sapphire:Sapphire Ore:1 </td><td>5</td><td>0.87</td><td>750</td><td>856</td></tr>
<tr><td>Sapphire:Sapphire Ore:1 </td><td>6</td><td>0.16</td><td>375</td><td>2214</td></tr>
<tr><td>Silver:Silver Ore:1 </td><td>5</td><td>0.73</td><td>750</td><td>1016</td></tr>
<tr><td>Silver:Silver Ore:1 </td><td>6</td><td>0.14</td><td>375</td><td>2582</td></tr>
<tr><td>Silver:Silver Ore:1 </td><td>0</td><td>1.77</td><td>28</td><td>16</td></tr>
<tr><td>Silver:Silver Ore:1 </td><td>2</td><td>1.81</td><td>102</td><td>56</td></tr>
<tr><td>Soapstone:Soapstone (Talc):1 </td><td>5</td><td>1.0</td><td>2250</td><td>2242</td></tr>
<tr><td>Soapstone:Soapstone (Talc):1 </td><td>6</td><td>0.21</td><td>861</td><td>3075</td></tr>
<tr><td>Soapstone:Soapstone (Talc):1 </td><td>5</td><td>1.42</td><td>2250</td><td>1577</td></tr>
<tr><td>Soapstone:Soapstone (Talc):1 </td><td>6</td><td>0.29</td><td>1125</td><td>3787</td></tr>
<tr><td>Lapis:Lapis Lazuli Ore:0.15 Lazurite:Lazurite Ore:0.45 Calcite:Calcite Ore:0.05 Sodalite:Sodalite Ore:0.35 </td><td>3</td><td>0.29</td><td>120</td><td>404</td></tr>
<tr><td>Lapis:Lapis Lazuli Ore:0.15 Lazurite:Lazurite Ore:0.45 Calcite:Calcite Ore:0.05 Sodalite:Sodalite Ore:0.35 </td><td>4</td><td>0.75</td><td>629</td><td>806</td></tr>
<tr><td>Sodalite:Sodalite Ore:1 </td><td>5</td><td>1.72</td><td>1750</td><td>1016</td></tr>
<tr><td>Sodalite:Sodalite Ore:1 </td><td>6</td><td>0.33</td><td>875</td><td>2582</td></tr>
<tr><td>Spessartine:Spessartine Ore:1 </td><td>5</td><td>0.21</td><td>570</td><td>2171</td></tr>
<tr><td>Spessartine:Spessartine Ore:1 </td><td>6</td><td>0.05</td><td>210</td><td>4157</td></tr>
<tr><td>Sulfur:Sulfur Ore:0.8 Pyrite:Pyrite (Iron):0.15 Sphalerite:Sphalerite Ore (Zinc):0.05 </td><td>1</td><td>8.37</td><td>800</td><td>95</td></tr>
<tr><td>Sulfur:Sulfur Ore:0.8 Pyrite:Pyrite (Iron):0.15 Sphalerite:Sphalerite Ore (Zinc):0.05 </td><td>3</td><td>3.17</td><td>600</td><td>189</td></tr>
<tr><td>Sulfur:Sulfur Ore:0.8 Pyrite:Pyrite (Iron):0.15 Sphalerite:Sphalerite Ore (Zinc):0.05 </td><td>4</td><td>8.68</td><td>3360</td><td>386</td></tr>
<tr><td>Sphalerite:Sphalerite Ore (Zinc):1 </td><td>0</td><td>0.05</td><td>3</td><td>54</td></tr>
<tr><td>Sphalerite:Sphalerite Ore (Zinc):1 </td><td>2</td><td>0.06</td><td>11</td><td>169</td></tr>
<tr><td>Spodumene:Spodumene Ore (Lithium):1 </td><td>2</td><td>0.0</td><td>3</td><td>461</td></tr>
<tr><td>Spodumene:Spodumene Ore (Lithium):1 </td><td>5</td><td>0.28</td><td>250</td><td>878</td></tr>
<tr><td>Spodumene:Spodumene Ore (Lithium):1 </td><td>6</td><td>0.05</td><td>125</td><td>2265</td></tr>
<tr><td>Spodumene:Spodumene Ore (Lithium):1 </td><td>5</td><td>0.22</td><td>618</td><td>2211</td></tr>
<tr><td>Spodumene:Spodumene Ore (Lithium):1 </td><td>6</td><td>0.05</td><td>210</td><td>4021</td></tr>
<tr><td>Stibnite:Stibnite Ore (Antimony):1 </td><td>0</td><td>0.27</td><td>9</td><td>35</td></tr>
<tr><td>Stibnite:Stibnite Ore (Antimony):1 </td><td>2</td><td>0.29</td><td>34</td><td>116</td></tr>
<tr><td>Sulfur:Sulfur Ore:1 </td><td>0</td><td>0.94</td><td>51</td><td>54</td></tr>
<tr><td>Sulfur:Sulfur Ore:1 </td><td>2</td><td>1.07</td><td>182</td><td>169</td></tr>
<tr><td>Talc:Talc:1 </td><td>5</td><td>0.78</td><td>1750</td><td>2242</td></tr>
<tr><td>Talc:Talc:1 </td><td>6</td><td>0.17</td><td>669</td><td>3075</td></tr>
<tr><td>Talc:Talc:1 </td><td>5</td><td>0.15</td><td>250</td><td>1577</td></tr>
<tr><td>Talc:Talc:1 </td><td>6</td><td>0.03</td><td>125</td><td>3787</td></tr>
<tr><td>Tantalite:Tantalite Ore (Tantalum):1 </td><td>5</td><td>0.09</td><td>244</td><td>2171</td></tr>
<tr><td>Tantalite:Tantalite Ore (Tantalum):1 </td><td>6</td><td>0.02</td><td>90</td><td>4157</td></tr>
<tr><td>Tetrahedrite:Tetrahedrite Ore:1 </td><td>0</td><td>1.45</td><td>51</td><td>35</td></tr>
<tr><td>Tetrahedrite:Tetrahedrite Ore:1 </td><td>2</td><td>1.56</td><td>182</td><td>116</td></tr>
<tr><td>Thorium:Thorium Ore:1 </td><td>5</td><td>0.03</td><td>81</td><td>2171</td></tr>
<tr><td>Thorium:Thorium Ore:1 </td><td>6</td><td>0.0</td><td>30</td><td>4157</td></tr>
<tr><td>Tin:Tin Ore:1 </td><td>0</td><td>0.09</td><td>12</td><td>137</td></tr>
<tr><td>Tin:Tin Ore:1 </td><td>2</td><td>0.11</td><td>45</td><td>396</td></tr>
<tr><td>Tin:Tin Ore:1 </td><td>6</td><td>1.02</td><td>500</td><td>488</td></tr>
<tr><td>Tin:Tin Ore:1 </td><td>0</td><td>0.12</td><td>9</td><td>79</td></tr>
<tr><td>Tin:Tin Ore:1 </td><td>2</td><td>0.14</td><td>34</td><td>233</td></tr>
<tr><td>Uraninite:Uraninite Ore:1 </td><td>5</td><td>1.78</td><td>4000</td><td>2242</td></tr>
<tr><td>Uraninite:Uraninite Ore:1 </td><td>6</td><td>0.38</td><td>1530</td><td>3075</td></tr>
<tr><td>Uraninite:Uraninite Ore:1 </td><td>5</td><td>0.27</td><td>800</td><td>2890</td></tr>
<tr><td>Uraninite:Uraninite Ore:1 </td><td>6</td><td>0.07</td><td>480</td><td>6578</td></tr>
<tr><td>Uranium 238:Uranium 238 Ore:1 </td><td>5</td><td>0.05</td><td>150</td><td>2890</td></tr>
<tr><td>Uranium 238:Uranium 238 Ore:1 </td><td>6</td><td>0.01</td><td>90</td><td>6578</td></tr>
<tr><td>Banded Iron:Banded Iron Ore:0.05 Magnetite:Magnetite Ore (Iron):0.8 Vanadium:Vanadium Magnetite Ore:0.15 </td><td>1</td><td>9.19</td><td>800</td><td>86</td></tr>
<tr><td>Banded Iron:Banded Iron Ore:0.05 Magnetite:Magnetite Ore (Iron):0.8 Vanadium:Vanadium Magnetite Ore:0.15 </td><td>3</td><td>3.47</td><td>600</td><td>172</td></tr>
<tr><td>Banded Iron:Banded Iron Ore:0.05 Magnetite:Magnetite Ore (Iron):0.8 Vanadium:Vanadium Magnetite Ore:0.15 </td><td>4</td><td>9.55</td><td>3360</td><td>351</td></tr>
<tr><td>Yellow Limonite:Yellow Limonite:1 </td><td>0</td><td>0.45</td><td>22</td><td>48</td></tr>
<tr><td>Yellow Limonite:Yellow Limonite:1 </td><td>2</td><td>0.51</td><td>79</td><td>155</td></tr>
</table>